<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Licensing">
            <directory>tests/Licensing</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="DB_CONNECTION" value="mysql" force="true"/>
        <env name="DB_HOST" value="127.0.0.1" force="true"/>
        <env name="DB_PORT" value="3306" force="true"/>
        <env name="DB_DATABASE" value="medsurvey_pro_test" force="true"/>
        <env name="DB_USERNAME" value="root" force="true"/>
        <env name="DB_PASSWORD" value="" force="true"/>
        <env name="BROADCAST_CONNECTION" value="null"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="LICENSING_ENABLED" value="false" force="true"/>
        <env name="SUPER_ADMIN_USERNAME" value="admin"/>
        <env name="SUPER_ADMIN_PASSWORD" value="admin123"/>
    </php>
</phpunit>
